.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100vh;
}

.note.new {
  background-color: #24c263;
}

textarea {
  resize: none;
  border: none;
  background-color: #24c263;
  border-radius: 15px;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
}

.save:hover {
  cursor: pointer;
  background-color: #ededed;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.note {
  background: #eded15;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.search {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  background-color: rgb(233, 233, 233);
  border: none;
}

.search input:focus {
  outline: none;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
